<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <property name="hibernate.jdbc.use_get_generated_keys">true</property>
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>

        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
        <property name="connection.username">magazynier2</property>
        <property name="connection.password">mpwd</property>

        <property name="connection.pool_size">3</property>

        <property name="dialect">org.hibernate.dialect.Oracle12cDialect</property>

        <property name="current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext
        </property> <!--thread-->

        <property name="cache.provider_class">org.hibernate.cache.internal.NoCachingRegionFactory</property>

        <property name="show_sql">true</property>

        <property name="hibernate.enable_lazy_load_no_trans">true</property>

        <!--<property nameCol="hbm2ddl.auto">update</property>-->

        <mapping resource="/hibernate/Warehouse.hbm.xml"/>
        <mapping resource="/hibernate/Worker.hbm.xml"/>
        <mapping resource="/hibernate/Contractor.hbm.xml"/>
        <mapping resource="/hibernate/Item.hbm.xml"/>
        <mapping resource="/hibernate/VatRate.hbm.xml"/>
        <mapping resource="/hibernate/Document.hbm.xml"/>
        <mapping resource="/hibernate/DocumentItem.hbm.xml"/>

        <mapping resource="/hibernate/ContractorType.hbm.xml"/>
        <mapping resource="/hibernate/MeasurementUnit.hbm.xml"/>
        <mapping resource="/hibernate/DocumentType.hbm.xml"/>
        <mapping resource="/hibernate/MarginType.hbm.xml"/>
        <mapping resource="/hibernate/Assortment.hbm.xml"/>
        <mapping resource="/hibernate/Message.hbm.xml"/>
        <mapping resource="/hibernate/MessageNotification.hbm.xml"/>

    </session-factory>

</hibernate-configuration>